<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>[[[page:title()]]]</title>
  <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
  <!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script> -->
  <!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> -->
  <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
  <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
  <!--     <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8" /> -->
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#""><font size="6">intre</font><font color="red" size="10">π</font><font size="6">d</font></a>
        <div class="nav-collapse collapse">

         <ul class="nav pull-right">
          <p></p>
          <p></p>
          <li><img src="/images/DefaultIcon/png/32x32/cpu.png"></li>
          <li>[[[index:stats_cpu()]]]</li>
          <li>&nbsp;&nbsp;&nbsp;</li>
          <li><img src="/images/DefaultIcon/png/32x32/ram.png"></li>
          <li>[[[index:stats_mem()]]]</li>
          <li>&nbsp;&nbsp;&nbsp;</li>
          <li><img src="/images/DefaultIcon/png/32x32/floppy.png"></li>
          <li>[[[index:stats_hdd()]]]</li>
          <li>&nbsp;&nbsp;&nbsp;</li>
          <li>[[[index:logout_site()]]]</li>
        </ul>



        <ul class="nav">
          <p></p>
          <p></p>

          <li><p class="navbar-text">intrepid [ɪnˈtrɛpɪd]. adj. fearless; daring;</p></li>
        </ul>
        

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Menu</li>
          [[[page:list_left()]]]
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span9">
      [[[page:title_body()]]]
     <div class="clearfix content-heading">
      <div class="span6">
         [[[page:left_body()]]]
       </div>
       <div class="span6">
        [[[page:right_body()]]]
      </div>
    </div>
  </div>
</div>

<script>
  [[[script]]]
</script>
</body>
</html>
