<!-- extend from base layout -->
{% extends "loggedbase.html" %}

{% block js %}
<script type="text/javascript">
  function update() {
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.getJSON($SCRIPT_ROOT+"/_sysinfo",
      function(data) {
        $("#uname").text(data.uname)
        $("#uptime").text(data.uptime)
        $("#network").text(data.network)
      });
  } 

  function initab() {
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    $('#myTab a:first').tab('show');
  }

  window.onload= function() {
    $("a#refresh").bind('click', update);
    initab();
  }
</script>
{% endblock %}

{% block content %}
<h3><img class="pull-left" src="/static/img/DefaultIcon/png/32x32/home.png">Home</h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="#sysinfo" data-toggle="tab">System Information</a></li>
  <li><a href="#network" data-toggle="tab">Network</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="sysinfo">
    <strong>Uname</strong><br /><span id="uname">{{info.uname}}</span><br /><br />
    <strong>Uptime</strong><br /><span id="uptime">{{info.uptime}}</span></div>
  <div class="tab-pane fade in" id="network">{{info.network |safe}}</div>
</div>
<br />
<div class="btn-group">
  <a id="refresh" class="btn">Refresh</a>
  <a id="help" class="btn">Help</a>
</div>

{% endblock %}