<!-- extend from base layout -->
{% extends "loggedbase.html" %}
{% set active_page = "index" %}

{% block js %}
<script type="text/javascript">
  function update() {
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.getJSON($SCRIPT_ROOT+"/_sysinfo",
      function(data) {
        $("#uname").text(data.uname)
        $("#uptime").text(data.uptime)
        $("#network").text(data.network)
      });
  } 

  function initab() {
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    $('#myTab a:first').tab('show');
  }

  window.onload= function() {
    $("a#refresh").bind('click', update);
    initab();
    $("#logout").tooltip();
  }
</script>
{% endblock %}

{% block content %}
<h3><img class="pull-left" src="/static/img/DefaultIcon/png/32x32/home.png">Home</h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="#sysinfo" data-toggle="tab"><i class="icon-search"></i> System Information</a></li>
  <li><a href="#network" data-toggle="tab"><i class="icon-signal"></i> Network</a></li>
  <li><a id="refresh" href="#"><i class="icon-refresh"></i> Refresh</a></li>
  <li class="pull-right"><a href="#help" data-toggle="tab"><i class="icon-flag"></i> Tutorial</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="sysinfo">
    <strong>Uname</strong><br /><span id="uname">{{info.uname}}</span><br /><br />
    <strong>Uptime</strong><br /><span id="uptime">{{info.uptime}}</span></div>
  <div class="tab-pane fade in" id="network">{{info.network |safe}}</div>
  <div class="tab-pane fade in" id="help">
    <h4>HowTo</h4>
    <strong>Let's put some content here :)</strong><br />
    <p>Blablablabla ! Blablabla ! </p>
  </div>
</div>

{% endblock %}