<li class="nav-header">Menu</li>
<li><a href="/index">Home</a></li>
<li><a href="/settings">Settings</a></li>
<li><a href="/scenarios">Scenarios</a></li>
{% with ips = ips %}
<ul class="nav nav-list">
	{% if ips.includedip %}
	<li><a href="/scenarios/type">Type</a></li>
	<li><a href="/scenarios/manager">Manager</a></li>
	{% else %}	
	<li class="disabled"><a href="/scenarios/type">Type</a></li>
	<li class="disabled"><a href="/scenarios/manager">Manager</a></li>
	{% endif %}
</ul>
{% endwith %}
<li><a href="/updates">Updates</a></li>
<li><a href="/term">Terminal</a></li>