<li class="nav-header">Menu</li>
<li><a href="/index"><i class="icon-chevron-right"></i> Home</a></li>
<li><a href="/settings"><i class="icon-chevron-right"></i> Settings</a></li>
<li class="divider"></li>

<li class="nav-header"></li>

<li><a href="/scenarios"><i class="icon-chevron-right"></i> Scenarios</a></li>
{% with ips = ips %}
	{% if ips.includedip %}
	<li><a href="/scenarios/type"><i class="icon-chevron-right"></i> Type</a></li>
	<li><a href="/scenarios/manager"><i class="icon-chevron-right"></i> Manager</a></li>
	{% else %}	
	<li class="disabled"><a href="/scenarios/type"><i class="icon-chevron-right"></i> Type</a></li>
	<li class="disabled"><a href="/scenarios/manager"><i class="icon-chevron-right"></i> Manager</a></li>
	{% endif %}
{% endwith %}

<li class="nav-header"></li>
<li><a href="/updates"><i class="icon-chevron-right"></i> Updates</a></li>
<li><a href="/term"><i class="icon-chevron-right"></i> Terminal</a></li>