<!DOCTYPE html>
<html lang="en">
	<head>
		<title>IntrePId</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="/static/js/jquery-latest.js"></script>
		<!-- Téléchargé jquery pour faciliter l'accès au site en local (pas de dépendance à un autre site) -->
		<script src="/static/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<style type="text/css">
			.pull-right .dropdown-menu:after {
			    left: auto;
			    right: 13px;
			}
			.pull-right .dropdown-menu {
			    left: auto;
			    right: 0;
			}
		</style>

		<script type="text/javascript">
		// Custom query to get the current values of cpu/ram/disk
		function update_values() {
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$.getJSON($SCRIPT_ROOT+"/_stuff",
				function(data) {
					$("#cpuload").text(data.cpu+" %")
					$("#ram").text(data.ram+" %")
					$("#disk").text(data.disk+" %")
				});
		}	
		// Updates values according to user's preferences
		setInterval(update_values,{{ settings.updatetime }})
		window.onload= function() {
			update_values();
			$("#logout").tooltip();
		}
		// Removes the alerts after 5s
		window.setTimeout(function() {
    		$(".alert").fadeTo(500, 0).slideUp(500, function(){
      		$(this).remove(); 
    		});
			}, 5000);
		</script>
		{% block js%}{% endblock %}

	</head>
	<style> body { padding-top: 60px; } </style>
	<body>
		{% block header %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/index"><font size="6">intre</font><font color="red" size="10">π</font><font size="6">d</font></a>
					<div class="nav-collapse collapse">

					<ul class="nav pull-right">
						<p></p>
						<p></p>
						<li><img src="/static/img/DefaultIcon/png/32x32/cpu.png"></li>
						<li>&nbsp;</li>
						<li><font id ="cpuload" color="white">...</font><br /><font color="#C0C0C0">CPU</font></li>
						<li>&nbsp;&nbsp;&nbsp;</li>
						<li><img src="/static/img/DefaultIcon/png/32x32/ram.png"></li>
						<li>&nbsp;</li>
						<li><font id ="ram" color="white">...</font><br /><font color="#C0C0C0">RAM</font></li>
						<li>&nbsp;&nbsp;&nbsp;</li>						
						<li><img src="/static/img/DefaultIcon/png/32x32/floppy.png"></li>
						<li>&nbsp;</li>
						<li><font id ="disk" color="white">...</font><br /><font color="#C0C0C0">Disk</font></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li><div><a class="btn btn-small btn-danger" href="/logout" id="logout" data-toggle="tooltip" data-placement="bottom" title data-original-title="Logout"><i class="icon-off icon-white"></i></a></div></li>
					</ul>
					<ul class="nav">
						<p></p>
						<p></p>
						<li><p class="navbar-text">intrepid [ɪnˈtrɛpɪd]. adj. fearless; daring;</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 bs-docs-sidebar">

				
					<ul class="nav nav-pills nav-stacked">
						{% block menu %}
						{% set active_page = active_page|default('index') -%}

						

						<li{% if active_page == 'index' %} class="active"{% endif %}><a href="/index"><i class="icon-chevron-right"></i> Home</a></li>
						<li{% if active_page == 'settings' %} class="active"{% endif %}><a href="/settings"><i class="icon-chevron-right"></i> Settings</a></li>
						
						<li class="divider"></li>

						<li{% if active_page == 'scenarios' %} class="active"{% endif %}><a href="/scenarios"><i class="icon-chevron-right"></i> Scenarios</a></li>
						{% with ips = ips %}
							{% if ips.includedip %}
							<li{% if active_page == 'type' %} class="active"{% endif %}><a href="/scenarios/type">&nbsp&nbsp<i class="icon-chevron-right"></i> Type</a></li>
							<li{% if active_page == 'manager' %} class="active"{% endif %}><a href="/scenarios/manager">&nbsp&nbsp<i class="icon-chevron-right"></i> Manager</a></li>
							{% else %}	
							<li class="disabled"><a href="/scenarios/type">&nbsp&nbsp<i class="icon-chevron-right"></i> Type</a></li>
							<li class="disabled"><a href="/scenarios/manager">&nbsp&nbsp<i class="icon-chevron-right"></i> Manager</a></li>
							{% endif %}
						{% endwith %}

						<li class="divider"></li>

						<li{% if active_page == 'updates' %} class="active"{% endif %}><a href="/updates"><i class="icon-chevron-right"></i> Updates</a></li>
						<li{% if active_page == 'term' %} class="active"{% endif %}><a href="/term"><i class="icon-chevron-right"></i> Terminal</a></li>
						{% endblock %}
					</ul>
					

					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<div class="alert alert-success">
						{% for message in messages %}
						{{message}}<br />
						{% endfor %}
					</div>
					{% endif %}
					{% endwith %}
				
				</div>
				<div class="span10">
					<div class="clearfix content-heading">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>