<!-- extend from base layout -->
{% extends "base.html" %}

{% block header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/"><font size="6">intre</font><font color="red" size="10">π</font><font size="6">d</font></a>
            <ul class="nav">
                <p></p>
                <p></p>
                <li><p class="navbar-text">intrepid [ɪnˈtrɛpɪd]. adj. fearless; daring;</p></li>
            </ul>
            <ul class="nav pull-right">
                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" style="margin-top: 10px">Login</a>
            </ul>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body">
    Please enter your password <br />
        {% for error in form.errors.password %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <form action="" method="post" name="login">
            {{form.hidden_tag()}}
            <p>{{form.password(size=30,placeholder="Password")}}</p>
            <p><input type="submit" value="Login" class="btn btn-primary">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </p>
        </form>
  </div>
</div>
{% endblock %}

{% block content %}

<h1>Welcome to the intre<font color="red" size="15">π</font>d web application</font></h1>

{% endblock %}