<!-- extend from base layout -->
{% extends "loggedbase.html" %}
{% set active_page = "scenarios" %}

{% block content %}
<h3><img class="pull-left" src="/static/img/DefaultIcon/png/32x32/search.png"> Scenarios</h3>
<h4>Upload your Scenario</h4>
<a class="btn btn primary" href="/scenario/upload">Upload</a>
<a class="btn btn primary" href="/liste">Liste</a>
<h4>Or create it</h4>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<form action="" method="post" name="includeIPs">
				<div class="input-append">
					{% for error in form.errors.ipincluded %}
        			<span style="color: red;">{{error}}</span>
        			{% endfor %}
        			<span class="label label-info">Include IP</span>
        			<br />
					{{form.hidden_tag()}}
					{{form.ipincluded(size=30,placeholder="Include IP")}}
					<button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>
					</button>
				</div>
				<br />
				{% with ips = ips %}
				{% if ips %}
				{% for include in ips.includedip %}
				<span><a href="/scenarios/remove_include?id={{loop.index0}}"><i class="icon-minus-sign"></i></a>  {{include}}</span><br />
				{% endfor %}
				{% endif %}
				{% endwith %}
			</form>
			<!-- Check if some IP have been included -->
			{% with ips = ips %}
			{% if ips.includedip %}
			<ul class="pager pull-left">
	  			<li><a href="/scenarios/type">Next Step &rarr;</a></li>
			</ul>
			{% endif%}
			{% endwith %}
		</div>
		<div class="span6">
			<form action="" method="post" name="excludeIPs">
				<div class="input-append">
					{% for error in form.errors.ipexcluded %}
        			<span style="color: red;">{{error}}</span>
        			{% endfor %}
        			<span class="label label-important">Exclude IP</span>
        			<br />
					{{form.hidden_tag()}}
					{{form.ipexcluded(size=30,placeholder="Exclude IP")}}
					<button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>
					</button>
				</div>
				<br />
				{% with ips = ips %}
				{% if ips %}
				{% for exclude in ips.excludedip %}
				<span><a href="/scenarios/remove_exclude?id={{loop.index0}}"><i class="icon-minus-sign"></i></a>  {{exclude}}</span><br />
				{% endfor %}
				{% endif %}
				{% endwith %}
			</form>
		</div>
	</div>
</div>

{% endblock %}
