<!-- extend from base layout -->
{% extends "loggedbase.html" %}

{% block js %}
<script type="text/javascript">
window.onload = function() {
	$('#help-updatetime').popover()
	$('a#default-updatetime').bind('click', function() {
	document.getElementById('updatetime').value="2000";
	})
}
</script>
{% endblock %}

{% block content %}
<h3><img class="pull-left" src="/static/img/DefaultIcon/png/32x32/preferences.png">Settings</h3>
{% for error in form.errors.password %}
	<span style="color: red;">{{error}}</span>
{% endfor %}
<div class="row-fluid">
	<h4>Interface</h4>
	<div class="input-append">
		<form action="" method="post" name="setting">
	    	{{form.hidden_tag()}}
	    	{{form.updatetime(size=30,placeholder="Refresh Time")}}
	    	<input type="submit" value="Save" class="btn btn-primary">
	    	<a id="default-updatetime" class="btn btn-primary">Default</a>
	    	<a id="help-updatetime" class="btn btn-primary" data-toggle="popover" title="" data-content="Refreshing data (CPU, RAM and Disk) frequency. Must be in milliseconds. Current value : {{ settings.updatetime }} ms" data-original-title="Refresh Time">Help</a>
		</form>
	</div>
</div>
{% endblock %}