<!-- extend from base layout -->
{% extends "loggedbase.html" %}
{% set active_page = "type" %}

{% block js %}
<script type="text/javascript">
  function initab() {
	$('#myTab a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})
	$('#myTab a:first').tab('show');
  }

  function pageOnLoad() {
	initab();
  }

  function updateButton(value1){
  	$('#btn'+value1).attr('href', "/scenarios/_addObject?id="+value1+"&cmd="+$('#sel'+value1).val()); 
  }

</script>
{% endblock %}

{% block content %}
<h3>Type of Scenario</h3>
<hr  style="border-width: 5px 0; margin: 5px 0;">
<ul class="nav nav-tabs">
  <li class="active"><a href="#preset" data-toggle="tab"><i class="icon-search"></i> Preset Scan</a></li>
  <li><a href="#scan" data-toggle="tab"><i class="icon-cog"></i> Custom Scan</a></li>
  <li><a href="#others" data-toggle="tab"><i class="icon-list"></i> Others</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade in active" id="preset">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<h4>Presets Attribution</h4>
					{% with ips = ips %}
					{% for include in ips.includedip %}
					<div class="well form-inline">
						{{include}}
						<span class="pull-right">
						<select onchange="updateButton({{loop.index0}})" id='sel{{loop.index0}}'>
							<option>Intense Scan</option>
							<option>Intense Scan plus UDP</option>
							<option>Intense Scan, all TCP Ports</option>
							<option>Intense Scan, no Ping</option>
							<option>Ping Scan</option>
							<option>Quick Scan</option>
							<option>Quick Scan Plus</option>
							<option>Quick Traceroute</option>
						</select>
						<a id="btn{{loop.index0}}"class="btn" href="/scenarios/_addObject?id={{loop.index0}}&cmd=Intense Scan"><i class="icon-plus-sign"></i></a>
					</span>
					</div>
					{% endfor %}
					{% endwith %}
				</div>
	<div class="span6">
		<h4>Presets Informations</h4>
		<div class="accordion" id="accordion2">
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        Intense Scan
		      </a>
		    </div>
		    <div id="collapseOne" class="accordion-body collapse">
		      <div class="accordion-inner">
		        An intense, comprehensive scan. Enables OS detection, version detection, script scanning, and traceroute. Without root privileges only version detection and script scanning are run. This is considered an intrusive scan. <br />
		      	Preset : nmap -T4 -A -v [target]</em>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		        Intense Scan plus UDP
		      </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		      <div class="accordion-inner">
		        Does OS detection, version detection, script scanning, and traceroute in addition to scanning TCP and UDP ports.<br />
		        Preset : nmap -sS -sU -T4 -A -v [target]
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		        Intense Scan, all TCP Ports
		      </a>
		    </div>
		    <div id="collapseThree" class="accordion-body collapse">
		      <div class="accordion-inner">
		        Scans all TCP ports, then does OS detection, version detection, script scanning, and traceroute.<br />
		        Preset : nmap -p 1-65535 -T4 -A -v [target]
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		        Intense Scan, no Ping
		      </a>
		    </div>
		    <div id="collapseFour" class="accordion-body collapse">
		      <div class="accordion-inner">
		        Does an intense scan without checking to see if targets are up first. This can be useful when a target seems to ignore the usual host discovery probes.<br />
		        Preset : nmap -T4 -A -v -Pn [target]
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
		        Ping Scan
		      </a>
		    </div>
		    <div id="collapseFive" class="accordion-body collapse">
		      <div class="accordion-inner">
		        This scan only finds which targets are up and does not port scan them.<br />
		        Preset : nmap -sn [target]
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
		        Quick Scan
		      </a>
		    </div>
		    <div id="collapseSix" class="accordion-body collapse">
		      <div class="accordion-inner">
		      	This scan is faster than a normal scan because it uses the aggressive timing template and scans fewer ports.<br />
		        Preset : nmap -T4 -F [target]
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
		        Quick Scan Plus
		      </a>
		    </div>
		    <div id="collapseSeven" class="accordion-body collapse">
		      <div class="accordion-inner">
		      	A quick scan plus OS and version detection.<br />
		      	Preset : nmap -sV -T4 -O -F --version-light [target]
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
		        Quick Traceroute
		      </a>
		    </div>
		    <div id="collapseEight" class="accordion-body collapse">
		      <div class="accordion-inner">
		      	Traces the paths to targets without doing a full port scan on them.<br />
		      	Preset : nmap -sn --traceroute [target]
		      </div>
		    </div>
		  </div>
		</div>
		</div>
	</div>
</div>
</div>
  <div class="tab-pane fade in" id="scan"><h1>TODO</h1></div>
  <div class="tab-pane fade in" id="others"><h1>TODO</h1></div>
</div>

<br />
<ul class="pager pull-left">
	<li><a href="/scenarios">&larr; Previous Step</a></li>
</ul>
{% endblock%}