<!-- extend from base layout -->
{% extends "loggedbase.html" %}
{% set active_page = "type" %}

{% block js %}
<script type="text/javascript">
  function initab() {
	$('#myTab a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})
	$('#myTab a:first').tab('show');
  }

  function pageOnLoad() {
	initab();
  }

  function updateButton(value1){
  	$('#btn'+value1).attr('href', "/scenarios/_addObject?id="+value1+"&cmd="+$('#sel'+value1).val()); 
  }

</script>
{% endblock %}

{% block content %}

<style>
	#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    margin-top: 20px;
    height: 100%;
    z-index: 0;
    
    /* Specify the width of your pageslide here */
    width: 20%;
    padding: 20px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
	}
    #modal { display: none; }

</style>


<h3>Type of Scenario</h3>
<hr  style="border-width: 5px 0; margin: 5px 0;">
<ul class="nav nav-tabs">
  <li class="active"><a href="#preset" data-toggle="tab"><i class="icon-search"></i> Preset Scan</a></li>
  <li><a href="#scan" data-toggle="tab"><i class="icon-cog"></i> Custom Scan</a></li>
  <li><a href="#others" data-toggle="tab"><i class="icon-list"></i> Others</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade in active" id="preset">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<h4>Attribution</h4>
					{% with ips = ips %}
					{% for include in ips.includedip %}
					<div class="form-inline">
						<label class="checkbox pull-right">  
    						<input type="checkbox">{{include}}  
  						</label>
					</div>
					{% endfor %}
					{% endwith %}
				</div>
				<div class="span6">
					<h4>Modules</h4>
					<ul>
						<li><a href="#modal-nmap" class="second">Nmap</a></li>
						<li><a href="#modal-nikto" class="second">Nikto</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
  <div class="tab-pane fade in" id="scan"><h1>TODO</h1></div>
  <div class="tab-pane fade in" id="others"><h1>TODO</h1></div>
</div>
<br />
<ul class="pager pull-left">
	<li><a href="/scenarios">&larr; Previous Step</a></li>
</ul>
<div id="modal-nmap" style="display:none">
	<h2>Modal Nmap</h2>
	<h1>STUF</h1>
	<a class="btn btn-primary" href="javascript:$.pageslide.close()">Close</a>
</div>
<div id="modal-nikto" style="display:none">
	<h3>Nikto Module</h3>
	<label class="checkbox">  
		<input type="checkbox">Hello There  
	</label>
	<a class="btn btn-primary" href="javascript:$.pageslide.close()">Close</a>
	<a class="btn btn-primary" href="javascript:$.pageslide.close()">Save</a>
</div>
<script src="/static/js/jquery.pageslide.js"></script>
<script>
    $(".second").pageslide({ direction: "left", modal: true });
</script>
{% endblock%}