<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends 'up_squelette.html' %}

{% block title %}Scénario{% endblock %}

{% block main %}
<h1>Scénario :</h1>
{% if scenario %}
    <h2>liste des scénario</h2>
    <ul class="fichiers">
    {% for xml in scenario %}
        <li><a href="/liste/open/?file={{ xml }}">{{ xml }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p>Parsing xmlTag runstat</p>
    <p>{{ nom }}</p><p>
    </p><p>{{ cat }}</p>
     <a href="/">home</a>
{% endblock %}

</body></html>
